/**
* Folha de estilo da agenda de contatos
* @author Professor José de Assis
*/

@charset "utf-8";

body {
	font-family: sans-serif;
}

h1 {
	color: #66bbff;
}

.Botao1 {
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;	
	border-radius: 5px;	
}

#tabela {
	margin-top:30px;
	border-collapse:collapse;
}
#tabela th{
	border:1px solid #ddd;
	padding: 10px;
	text-alingn:left;
	background-color:#66bbff;
	color: #ffffff
	
}
#tabela td{
	borde:1px solid #dddddd;
	padding:10px;
}

.caixa{
	width: 320px;
	padding:5px;
	margen-bottom:10px;
	border:1px solid #66bbff;
	border-radius: 5px;
	
}

.caixa2{
	padding:5px;
	margen-bottom:10px;
	border:1px solid #66bbff;
	border-radius: 5px;
	
}

nomeh1{
	color:
}






